p {
  font-size: 15px;
  color: #fff;
  line-height: 25px;
  margin-bottom: 40px;
}

dd {
  margin-left: -3px;
  font-size: 15px;
  color: #fff;
}

dl dd {
  margin-bottom: 17px;
}

.copyright {
  display: flex;
  justify-content: center;
}
